.header1 {

    background: white;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.title {

    font-weight: bold;
    font-size: 35px;
}

.mylist {
    list-style-type: none;
}

.mylistgroup {
    padding-left: 0px;
}

.done-list-item {
    display:inline-flex;
    padding:10px;
}

.done{
    margin-right: 20em;
}

.borderless{
	border-bottom:1px solid silver;

}