.header1 {

    background: white;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.title {

    font-weight: bold;
    font-size: 35px;
}

.mylist {
    list-style-type: none;
    line-height: 28px;
}

.mylist_span {
    cursor: pointer;
}

.mylistgroup {
    padding-left: 0px;
}

.float_right {
    float: right;

}

.mylist_deleted {
    list-style-type: none;
    height: 45px;
    border-top: 1px solid grey;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 36px;
    text-decoration:line-through;
}

.mylist_deleted:first-child {
    border-top: none;
}

.mylist_deleted.top {
    border-top: none;
}

#items-left {
    float: left;
}

.todo_items {
    margin-right: 5px !important;
}